<%= form_for(@fact) do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% @fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Fact' %><br>
    <%= f.text_area :info %>
  </div>
  <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select a category') %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
