<%= form_for @photo, :html => {:multipart => true} do |f| %>
<div class="well">
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.file_field :image, class: 'form-control' %><br/>
  </div>
    <%= f.submit class: 'btn btn-default' %>
<% end %>
</div>